* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
    text-decoration: none;
    margin-bottom: 38px;
}

.logo span {
    color: #000000;
}

.navbar {
    background-color: #35444F;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.navbar-link {
    display: block;
    border-right: 1px solid #fff;
    padding: 25px 35px 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.navbar-link:hover {
    background-color: #222F3A;
    transition: all 0.4s;
}

.navbar-link-border {
    border-left: 1px solid #fff;
}

.aside-nav {
    padding: 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    list-style-type: none;
    margin-top: 0;
    margin-right: 52px;
}

.aside-nav-link {
    display: block;
    padding: 25px 0px 25px 45px;
    font-weight: 400;
    font-size: 27px;
    color: #495863;
    text-decoration: none;
    cursor: pointer;   
}

.aside-nav-link:hover {
    background-color: #DBDBDB;
    padding-left: 80px;
}

main .container {
    display: flex;
    align-items: flex-start;
 }

.main {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
    border: 1px solid #000000;
    margin: 0;
    margin-bottom: 37px;
}

.main-img-lorem {
    width: 320px;
    height: 380px;
    transition: 0.4s;
}

.main-img-lorem:hover {
    transform: scale(1.15, 1.15);
}

.main-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 0;
    margin-bottom: 35px;
}

.footer-nav {
    display: flex;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    list-style-type: none;
}

.footer-nav-link {
    display: block;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
    padding: 20px 0;
    margin-right: 35px;
    cursor: pointer;
}

.footer-nav-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 8px;
}

.footer-nav-link-grow {
    flex-grow: 1;
    text-align: end;
    font-weight: 400;
    font-size: 24px;
    color: #010101;
    margin-right: 40px;
}


